body{
 /* background-image: url("./image/bg.png") ;
  background-repeat: no-repeat;
  background-position:bottom  center;
  background-attachment: fixed;
  background-size: 80% 80%;*/
  overflow-y: scroll;
  overflow-x: hidden;
}

.app{
   background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.clear{
  display: block;
  height:1px;
  overflow: hidden;
  clear: both;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appsWrap{
  padding-top: 38px;
  width:1377px;
  margin: 0  auto;
 /* display: flex;
  flex-flow: row wrap;
  justify-content:space-between;*/


}
.wrap{
  width:1377px;
  margin: 0  auto;
  overflow: hidden;
}
@media (max-width:1500px) {
  #navs,#bq,.appsWrap{
    transform: scale(0.9,0.9);
  }
}
